.container{
    background-color: rgba(244, 59, 59, 0.8);
    margin: 0 auto;
    width: 500px;
    height: 100%;
    border-radius: 20px;
    hr{
        width: 400px;
    }
  .header{
    h2{
        font-size: 30px;
    }
    p{
        margin-top: -20px;
    }
    margin-left: 60px;
padding-top:20px ;
color: white;
}  
.main{
    color: white;
   .main-conten{
    background-color: rgba(253, 145, 145, 0.634);
    span{
        margin-left: 40px;
    }
   }
    padding-top: 45px;
text-align: center;
   p{
    padding-top:50px ;
    
   }
}
.food{
margin-left: 60px;
h3{
    font-size: 25px;
}
color: white;
margin-top: 10px;
padding-bottom: 40px;
button{
 background-color:  rgba(244, 59, 59, 0);
 color: white;
 border: 1px solid white;
 margin-left: 30px;
 font-size: 20px;
}
input{
    width: 260px;
    height: 30px;
}
}
}


